Django>=5.0
djangorestframework>=3.15.0
Pillow>=10.0.0
django-cors-headers>=4.3.1
django-filter>=23.5
django-ckeditor>=6.7.0
django-meta>=2.3.0
django-taggit>=5.0.0
python-dotenv>=1.0.1
django-cleanup>=8.0.0
django-allauth>=0.61.1
django-redis>=5.4.0
drf-nested-routers>=0.94.2
django-unfold>=0.59.0
